<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>ISBN</th>
        <th>PUBLISHER NAME</th>
    </tr>

    <tr th:each="book : ${books}">
        <td th:text="${book.id}">Book id</td>
        <td th:text="${book.title}">Book title</td>
        <td th:text="${book.isbn}">Isbn Number</td>
        <td th:text="${book.publisher.publisherName}">Name of the book publisher</td>
    </tr>
</table>
</body>
</html>